@charset "UTF-8";


;root{
    --main-color:#;
}
html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}
html{
    width: 1200px;/* PCでは960~1200px位で */
    height: 0 auto;
}
.g-nav{
    width: 100%;
    height: 50px;


}



header{
    max-width: 1080px;/* まず指定する（先生）より */
    height: 250px;
    padding-left: 10px;
    padding-top: 10px;
}
h1{
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
}
.g-nav>ul{
    height: 68px;
    background-color: rgb(147, 192, 179);
    color:rgb(147, 192, 179) ;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
} 


.g-nav ul li{
    border-left: 3px solid #fff;
    width: 25%;
} 
.g-nav a{
    display: block;
    text-align: center;
    line-height: 50px;
}
.g-nav li:last-of-type>a{
    border-right: solid 3px  #fff;
}

main{
    max-width: 1080px;
    margin:0 auto 100px;
}

.main-visual{
  margin-bottom: 100px;
  width: 100%;
  aspect-ratio: 2/0.8;/* 注意 */
}
.main-visual>img{
    object-fit: cover;/* 親要素に指示 */
    object-position: cover center;
    width: 100%;
    height: 100%;
}
.main-text{
    margin-top: 36px;
    height: 300px;
    width: auto;
    text-align: center;
}
.main-text>p{
    padding: 10px;
    font-size: 20px;
}
.wrapper{
   display: flex;
   margin:0 auto 100px;
   gap: 0 30px;/* 画像の間の余白 */
}
.box{
    width: calc((100% - 60px) / 3);/* 画面の3等分 */
    height: 80%;
    padding: 10px;
}
.box:hover{
    box-shadow: 0 0 10px #999;/* 影 */
    transition: 0.2S;
}
.box:hover img{
    scale: 1.2;
    transition: 0.2S;/*　上の行も含め アニメーションの記載 */
}
h3{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    border-left: 16px solid #22508a;/* 言葉の横に縦の棒入れる */
    margin: 20px 0;
    padding:3px 0 3px 20px;
}
.photo{
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.8/1;
    >img{
        object-fit: cover;
        width: 100%;
        height: 100%;/* このまま覚える */
    }
}

main>iframe{
    margin: 20px;
    padding: 10px;
    width:1000px;
     height:500px;
}
.map-inner{
    width: 100%;
    aspect-ratio: 2/ 0.6;
}
#g-map{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
   padding: 40px 0;
}
   footer>P{
   display: flex;
    margin: 0 auto;
    gap: 0 20px;
    background-color: #999;
}
.sns>li{
    width: 34px;
    padding: 5px;/*ボタン、 エリアとして44px */
}
.sns{
    max-width: ;
}
@media(max-width: 1080px){
    .g-nav li:first-of-type>a{

        border-left: 0;
    }
    .g-nav {

}
}
@media (max-width: 767px){
    header{
        text-align: center;
        padding-left: 0;
h1{
    font-size: 30px;
}
.g-nav a{
    font-size: 16px;
}
.main-visual{
    aspect-ratio: 1/ 0.8;
}
main-txt>h2{
    font:18px ;
}
.wrapper{
    flex-direction: column;
    gap: 40px 0;
}

.box{
    width: 100%;
    padding: 0;
}
.box:hover{
    box-shadow: none;
    transition:none;
}
.box:hover img{
    transform: none;
    transition: none;
}
.photo{
    aspect-ratio: 1/ 0.9;
}
.map-inner{
    aspect-ratio: 1/1;
}
.sns{
    justify-content: center;
}
}
}

